<h1>Places</h1>

<% if session[:user_id] %>
<ul>

  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
<% else %>
  <p class="text-danger">You must be logged in to view places.</p>
<% end %>